saves/
asm/
logs/
natives/
minecraft/config/INpureProjects/logs/
minecraft/usernamecache.json

minecraft/Reika.DragonAPI.ModInteract.DeepInteract.ReikaMystcraftHelper.classdata

minecraft/Reika.DragonAPI.ModInteract.DeepInteract.FrameBlacklist.classdata

minecraft/1213309934

