saves/
asm/
logs/
natives/
crash-reports/
screenshots/
debug/
minecraft/reports/
minecraft/config/INpureProjects/logs/
minecraft/usernamecache.json

minecraft/1213309934

*.log

minecraft/minetweaker.log

minecraft/Reika.DragonAPI.ModInteract.DeepInteract.FrameBlacklist.classdata

minecraft/Reika.DragonAPI.ModInteract.DeepInteract.ReikaMystcraftHelper.classdata

minecraft/servers.dat
