# Configuration file

##########################################################################################################
# HarvestLevelNames
#--------------------------------------------------------------------------------------------------------#
# Use materialnames to set the name of a harvest level. The entrties have to either be identifiers for Tinker-Materials OR the registered names of items.
# For Example: 'Level0=wood' would change the first harvest level to wood from stone. Likewise 'Level5=minecraft:emerald' would change that level to Emerald.
##########################################################################################################

HarvestLevelNames {
    S:Level0=Flint
    S:Level1=Copper
    S:Level2=Iron
    S:Level3=Damascus Steel
    S:Level4=Shadow Steel
    S:Level5=Inolashite
    S:Level6=Manyullyn
    S:Level7=Jade
    S:Level8=Black Steel
    S:Level9=Haderoth
    S:Level10=Tartarite
    S:Level11=Zuulite
    S:Level12=Desichalkos
}
	